<div class="row">
    <div class="col-xs-12 col-md-7">
        {% include 'WcGameBundle:Default/_p:games.html.twig' with {'games': datematches} %}
    </div>
    <div class="col-xs-12 col-md-5">
        {% for s in stages %}
            <h2>{{ s.stage.name }}</h2>
            {% include 'WcGameBundle:Default/_p:standing.html.twig' with {'standings': s.standings } %}
        {% endfor %}
    </div>
</div>