{% extends '::base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <h2>Rules of engangement</h2>
                <p>The rules are veeery simple</p>
                <p><em>If you win a bet</em> - I double your bet</p>
                <p><em>If you lose a bet</em> - I will take your bet</p>
            </div>
        </div>
    </div>
{% endblock %}