{% extends '::base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <h2>Rules of engangement</h2>
                <p>The rules are veeery simple</p>
                <p><em>If you win a bet</em> - I double your bet</p>
                <p><em>If you lose a bet</em> - I will take your bet</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <h2>Prices</h2>
                <p>I have 4 top lists, the top of each list can choose where I should donate $20</p>    
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="well">
                <h2>Terms</h2>
                <p>I will ONLY store your username and which login provider you used</p>
                <p>No email, no passwords, no real name, no IP address will be stored</p>
                <p>How can I then contact you, if you are the lucky winner - well, I hope can find you with your username on your login provider and send you a private message.</p>
            </div>
        </div>
    </div>
{% endblock %}